In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ushuaia,AR,2022-07-13 20:25:06,-54.8000,-68.3000,37.06,56,75,8.05
1,1,Makakilo City,US,2022-07-13 20:29:22,21.3469,-158.0858,84.52,61,40,14.97
2,2,Jacareacanga,BR,2022-07-13 20:29:22,-6.2222,-57.7528,95.65,27,76,3.74
3,3,Mataura,NZ,2022-07-13 20:27:59,-46.1927,168.8643,42.48,98,100,3.94
4,4,Cerritos,US,2022-07-13 20:28:30,33.8583,-118.0648,95.49,60,0,9.22

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# #Creating the heat map general syntax

# # 1. Assign the locations to an array of latitude and longitude pairs.
# locations = [latitude, longitude]
# # 2. Assign the weights variable to some values.
# temperatures = # an array of length equal to the locations array length
# # 3. Assign the figure variable to the gmaps.figure() attribute.
# fig = gmaps.figure()
# # 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
# heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# # 5. Add the heatmap layer.
# fig.add_layer(heatmap_layer)
# # 6. Call the figure to plot the data.
# fig

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
    
    #We get this temps list with the smallest possible value of 0 because gmaps 
    #does not plot negative numbers and would give us an error

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
#And adjust zoom and intensity
fig = gmaps.figure(center= (30, 31), zoom_level = 1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Makakilo City,US,2022-07-13 20:29:22,21.3469,-158.0858,84.52,61,40,14.97
5,5,Tautira,PF,2022-07-13 20:29:23,-17.7333,-149.1500,76.69,71,56,13.38
6,6,Dingle,PH,2022-07-13 20:29:23,10.9995,122.6711,75.56,92,20,1.43
7,7,Kavieng,PG,2022-07-13 20:29:24,-2.5744,150.7967,81.00,76,100,5.55
9,9,Sola,VU,2022-07-13 20:29:25,-13.8833,167.5500,80.46,68,9,6.78
10,10,Avarua,CK,2022-07-13 20:27:43,-21.2078,-159.7750,75.25,60,75,11.50
11,11,Shenjiamen,CN,2022-07-13 20:29:25,29.9576,122.2980,78.71,84,100,17.83
14,14,Puerto Ayora,EC,2022-07-13 20:29:27,-0.7393,-90.3518,75.16,83,37,5.99
16,16,Altamont,US,2022-07-13 20:29:27,42.2068,-121.7372,86.90,29,0,3.00
17,17,Hilo,US,2022-07-13 20:29:21,19.7297,-155.0900,80.28,94,100,10.36

In [13]:
preferred_cities_df.notnull().sum()

City_ID       217
City          217
Country       217
Date          217
Lat           217
Lng           217
Max Temp      217
Humidity      217
Cloudiness    217
Wind Speed    217
dtype: int64

In [14]:
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
1   Makakilo City      US     84.52  21.3469 -158.0858
5         Tautira      PF     76.69 -17.7333 -149.1500
6          Dingle      PH     75.56  10.9995  122.6711
7         Kavieng      PG     81.00  -2.5744  150.7967
9            Sola      VU     80.46 -13.8833  167.5500
10         Avarua      CK     75.25 -21.2078 -159.7750
11     Shenjiamen      CN     78.71  29.9576  122.2980
14   Puerto Ayora      EC     75.16  -0.7393  -90.3518
16       Altamont      US     86.90  42.2068 -121.7372
17           Hilo      US     80.28  19.7297 -155.0900

In [15]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [16]:
# Iterate through the DataFrame.

for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping")

Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping

In [17]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Makakilo City,US,84.52,21.3469,-158.0858,Marriott's Ko Olina Beach Club
5,Tautira,PF,76.69,-17.7333,-149.1500,Pension Oaoa
6,Dingle,PH,75.56,10.9995,122.6711,SEGAYA PROPERTY
7,Kavieng,PG,81.00,-2.5744,150.7967,Nusa Island Retreat
9,Sola,VU,80.46,-13.8833,167.5500,Leumerus Bungalows
10,Avarua,CK,75.25,-21.2078,-159.7750,Paradise Inn
11,Shenjiamen,CN,78.71,29.9576,122.2980,Jinjiang Inn Zhoushan Putuo Shenjiamen
14,Puerto Ayora,EC,75.16,-0.7393,-90.3518,Finch Bay Galapagos Hotel
16,Altamont,US,86.90,42.2068,-121.7372,Microtel Inn & Suites by Wyndham Klamath Falls
17,Hilo,US,80.28,19.7297,-155.0900,Hilo Hawaiian Hotel

In [18]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [20]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [21]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))